<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('styles/voucher-pdf.css') }}">
</head>

<body>
    <div class="voucher">
        <div class="voucher-title">
            {% if voucher.type == 'gift' %}Подарочный {% endif %}ВАУЧЕР
        </div>

        <div class="journal-name">
            {{ voucher.voucherType.name }}
        </div>

        <div class="discount-wrapper">
            <div class="discount-circle">
                {{ voucher.discount }}%
            </div>
        </div>

        <div class="divider"></div>

        <div class="info-row">
            <div class="label">Получатель</div>
            <div class="value">{{ voucher.fullName }}</div>
        </div>

        <div class="info-row">
            <div class="label">ORCID</div>
            <div class="value">{{ voucher.orcid }}</div>
        </div>

        <div class="divider"></div>

        <div class="validity">
            <div class="label">Срок действия</div>
            <div class="value">
                с {{ voucher.validFrom|date('d.m.Y') }}
                по {{ voucher.validTo|date('d.m.Y') }}
            </div>
        </div>

        <div class="uuid">
            UUID: {{ voucher.uuid }}
        </div>
    </div>
</body>
</html>